@import "../../index.scss";

@media only screen and (max-width: $mobile-size) {
    .projects {
        display: none;
    }
}
@media only screen and (min-width: $mobile-size+1) {
    .projects {

        width: 100%;
        height: 65.78%;
        margin-top:5%;
        background-color: $projects-background;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;

        &-content {
            width: 85%;
            height: 100%;
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
        }
    }

    .size {
        width: 15%;
        height: 100%;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;

        &-path {
            display: flex;
            flex-flow: column wrap;
            justify-content: space-around;

            &-circle {
                display: inline-block;
                width: 2vh;
                height: 2vh;
                background-color: #F98989;
                border-radius: 50%;
                margin: 1vh;
            
                &-active {
                    display: inline-block;
                    width: 2vh;
                    height: 2vh;
                    background-color: #f0f0f0;
                    border-radius: 50%;
                    margin: 1vh;
                }
            }
            
        }
        
    }
}