@import '../../index.scss';

.tool-image {
    width: 4.5vh;
    height: 4.5vh;
}

.type {
    font-size: 3vh;
}

@media only screen and (max-width: $mobile-size) {
    
}

@media only screen and (min-width: $mobile-size+1) {
}