@import '../../index.scss';

@media only screen and (max-width: $mobile-size) {
    
    .languages {
        width: 100%;
        height: 10%;
        display: flex;
        flex-flow: row wrap;
        
        &-box {
            display: flex;
            flex-flow: row wrap;
            padding-left: 75%;
        }

        &-icon {
            width: 6vh;
            height: 6vh;
            margin: 1vh;
            cursor: pointer;
            
            &-image {
                width: 6vh;
                height: 6vh;
            }
        }   
    }
    
    .profile {
        width: 100vh;
        height: 90%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;

        &-photo {
            display: flex;
            flex-flow: column wrap; 
            width: 40%;
            justify-content: center;
            align-items:center;
            
            &-content {
                width: 70%;
                height: 70%;
                position: relative;
                padding-left: 25%;
                
                &-image {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
            }
        }

        &-description {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column wrap;
            width: 60%;
            height: 100%;

            &-title {
                margin-top: 10%;
                padding-right: 10%;
                display: flex;
                flex-flow: column wrap;
                color: $personal-information-text;

                &-name {
                    
                    font-size: 8vh;
                }

                &-work {
                    font-size: 4vh;
                }
            }

            &-social {
                display: flex;
                flex-flow: row wrap;

                &-box {
                    margin-top: 10%;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    
                    

                    &-icon {
                        width: 6vh;
                        height: 6vh;
                        border-radius: 50%;
                        margin: 1vh;
                        
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        &-image {
                            width: 5vh;
                            height: 5vh;
                            background-position:center center;
                        }
                    }
                }
            }
        }
    }
}


@media only screen and (min-width: $mobile-size+1) {
    
    .personal-information {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 30%;
    }

    .languages {
        width: 100%;
        height: 10%;
        display: flex;
        flex-flow: row wrap;
        
        &-box {
            display: flex;
            flex-flow: row wrap;
            padding-left: 85%;
        }

        &-icon {
            width: 3vh;
            height: 3vh;
            margin: 1vh;
            cursor: pointer;
            
            &-image {
                width: 3vh;
                height: 3vh;
            }
        }

        
    }

    .profile {
        width: 100%;
        height: 90%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;

        &-photo {
            display: flex;
            flex-flow: column wrap; 
            width: 40%;
            justify-content: center;
            align-items:center;
            
            &-content {
                width: 70%;
                height: 70%;
                position: relative;
                padding-left: 50%;
                
                &-image {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
            }
        }

        &-description {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column wrap;
            width: 60%;
            height: 100%;

            &-title {
                margin-top: 10%;
                padding-right: 10%;
                display: flex;
                flex-flow: column wrap;
                color: $personal-information-text;

                &-name {
                    
                    font-size: 4vh;
                }

                &-work {
                    font-size: 2vh;
                }
            }

            &-social {
                display: flex;
                flex-flow: row wrap;

                &-box {
                    margin-top: 10%;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    
                    

                    &-icon {
                        width: 6vh;
                        height: 6vh;
                        border-radius: 50%;
                        margin: 1vh;
                        
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        &-image {
                            width: 5vh;
                            height: 5vh;
                            background-position:center center;
                        }
                    }
                }
            }
        }
    }
}