$decoration-color-primary: #FF6363;
$decoration-color-secondary: #F83838;
$text-selected-color: #A8A4A4;
$personal-information-background: #f8f8f8;
$screenshots-background: #EBE5E5;
$selected-background:#fff;
$projects-background:#F83838;
$personal-information-text: #F83838;
$mobile-size: 840px;

@import url(https://fonts.googleapis.com/css?family=Bebas+Neue);

* {
    margin: 0 auto;
}

body {
    font-family: 'Bebas Neue';
}