$decoration-color-primary: #FF6363;
$decoration-color-secondary: #FF4646;
$text-selected-color: #A8A4A4;
$personal-information-background: #f8f8f8;
$selected-background: #fff;
$personal-information-text: #FF4646;


* {
    margin: 0 auto;
}

body {
 
}