
@keyframes blinking{
    0%		{ background-color: #5CB90B;}
    25%		{ background-color: #63CB09;}
    50%		{ background-color: #6CDE09;}
    100%	{ background-color: #79F211;}
}


.work {
    margin-left: 1vh;
    width: 2vh;
    height: 2vh;
    background-color: lightseagreen;
    border-radius: 50%;
    animation: blinking 2s infinite;

    &-not {
        margin-left: 1vh;
        width: 2vh;
        height: 2vh;
        background-color: lightcoral;
        border-radius: 50%;
    }
}


